@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
}

.section-center {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 40vw;
    padding: 20px 0px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-family: 'Roboto', sans-serif;
}
input {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
    width: 20vw;
    padding: 8px 15px;
}
.grocery-container{
    visibility: hidden;
}
.show-container {
    visibility: visible;
}
.grocery-item {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}
p{
    font-family: 'Roboto', sans-serif;
}